@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');


html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(80, 80, 80);
}

.header-class {
    display: flex;
    justify-content: space-between;
    padding: .5em 1em;
    color: white;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid white;
}

.header-class h1 {
    font-size: 1.5em;
    display: float;
    float: left;
}

.header-class nav a {
    font-family: 'Roboto', sans-serif;
    display: float;
    float: right;
    transition: all .3s ease-in-out;
    color: white;
    text-decoration: none;
    margin: 1.25em 1em 1em 1em;
    font-size: 1.1em;
}

.header-class nav a:hover {
    font-family: 'Roboto', sans-serif;
    color: red;
    transform: scale(0.95);
}

.footer-class {
    text-align: center;
}

.footer-class h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    color: white;
    display: block;
    text-align: center;
}

.footer-class h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    color: white;
    display: block;
    text-align: center;
}


.footer-class nav a {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    border: 1px solid rgb(177, 177, 0);
    background-color: rgb(177, 177, 0);
    border-radius: 10px;
    padding: 0.75em 1em 0.75em 1em;
    transition: .3s;
    color: white;
    text-decoration: none;
    font-size: 2em;
}
.footer-class nav a:hover {
    font-family: 'Roboto', sans-serif;
    transform: scale(0.9);
}